* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 37px 0 178px;

}

.container {
    max-width: 920px;

}

.header__container {
    display: flex;
    column-gap: 286px;
    margin-bottom: 24px;

}

.nav {
    display: flex;
    column-gap: 24px;
    list-style: none;
}

.main__container__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cart__container > div:not(:last-child) {
    margin-bottom: 16px;
}

.asteroid__card {
    display: grid;
    grid-template-columns: auto 289px 250px;
    column-gap: 10px;
    padding: 24px 28px 0 16px;
    height: 200px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border-radius: 10px;

}

.asteroid__card__danger {
    display: grid;
    grid-template-columns: auto 289px 250px;
    column-gap: 10px;
    padding: 24px 28px 0 16px;
    height: 200px;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
    border-radius: 10px;
}

.asteroid__column {
    position: relative;


}

.dino {
    position: absolute;
    left: 0;
    bottom: 0;
}

.group {
    position: absolute;
    top: 0;
    right: 31%;

}

.vector {
    position: absolute;
    right: 30%;
}

.year {
    font-size: 24px;
    font-weight: 700;

}

.date {
    display: flex;


}

.line {
    border-bottom: 1px dashed black;
    flex-grow: 1;
    margin: 0 0 4px;

}

.evaluation__column {
    display: flex;
    justify-content: end;
    margin-top: 16px;

}

.evaluation__column button {
    flex-grow: 0;
    height: 48px;
    border-radius: 24px;
    width: 158px;
    background-color: #186DD6;
    border: none;
    color: white;

}

.card_info {
    z-index: 1;
    position: relative
}

.card_info > div:not(:last-child) {
    margin-bottom: 10px;

}

.large__asteroid {
    position: relative;
    top: -10;
}

.vector2 {
    position: absolute;
    right: 30%;
    top: -24px;
}

.group2 {
    position: absolute;
    top: -24px;
    right: 31.7%;

}

.asteroid3 {
    position: relative;
    z-index: 0
}

.vector3 {
    position: absolute;
    left: 0;
    top: -24px;
}

.group3 {
    position: absolute;
    top: -23px;
    left: 0;
}

.conteinerContent {
    text-align: center;
    margin-top: 56px;
}

.nav-link-active {
    background-color: #7DE88C;
    text-decoration: underline;
}

.cart__container {
    margin-bottom: 16px;
}

.dangerousOnly {
    margin-right: 5px;
}

.distans {
    display: flex;
    gap: 5px;
}